// colors
// 3d1f00
$primary: #1d4567;
$white: #fff;
$black: #060606;
$ivory: #f8ece2;
//  fff8f0  2.faf39b
$floralWhite: #fff;
$footerwhite: #fdf2e9;
$aminitesBg: #efefef;

$primary-font-family: 'Nunito Sans', sans-serif;
$secondary-font-family: 'EB Garamond', serif;